@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
  overscroll-behavior-y: none;
}